{
  "FIREBASE_VAPID_KEY": "INSERISCI_LA_TUA_VAPID_KEY",
  "CLIENT_PURCHASES_ENABLED": "false",
  "STRIPE_PUBLISHABLE_KEY": "INSERISCI_LA_TUA_STRIPE_PUBLISHABLE_KEY",
  "STRIPE_TEST_MODE": "true",
  "STRIPE_MERCHANT_ID": "merchant.com.cividevops.civiapp"
}
